.all_controls {
    overflow: auto;
    height: 101%; // Needed to disable unnecessary scrollbar
}

.pointer {
    cursor: pointer;
}

.radio_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}